<%- include('../includes/head.ejs') -%>

<body style="overflow: hidden;">

    <div id="header">
        <div style="padding: 0;" class="index-nav container-fluid">
            <div class="row nav-row">
                <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
                    <div class="container-fluid">
                        <h5 class="text-white me-lg-3 pt-2"><i class="bi bi-gear-wide-connected text-white"> </i>SD Tech
                            & Education
                        </h5>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item text-white"><a class="nav-link active text-white"
                                        aria-current="page" href="/">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    <form action="/logout" method="post" class="logout-btn">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </nav>

            </div>

        </div>
    </div>
    <main style="height: 100vh; background: #ffffff;">
        <h1>Error 505 Internal error :(</h1>
    </main>
</body>

</html>